name: AI Review

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write # enable write permissions for pull request comments

jobs:
  delete-comments:
    runs-on: ubuntu-latest
    steps:
      - uses: SamuelBrucksch/delete-comment@1.0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          delete_user_name: github-actions[bot]
          issue_number: ${{ github.event.number }}
  ai-review:
    needs: delete-comments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: Nikita-Filonov/ai-review@v0.42.0
        with:
          review-command: run
        env:
          # --- LLM configuration ---
          LLM__PROVIDER: "AZURE_OPENAI"
          LLM__META__MODEL: ${{ secrets.AZURE_OPEN_AI_DEPLOYMENT }}
          LLM__HTTP_CLIENT__API_URL: ${{ secrets.AZURE_OPEN_AI_URL }}
          LLM__HTTP_CLIENT__API_TOKEN: ${{ secrets.OPENAI_API_KEY }}
          LLM__HTTP_CLIENT__API_VERSION: "2024-12-01-preview"

          # --- GitHub integration ---
          VCS__PROVIDER: "GITHUB"
          VCS__PIPELINE__OWNER: ${{ github.repository_owner }}
          VCS__PIPELINE__REPO: ${{ github.event.repository.name }}
          VCS__PIPELINE__PULL_NUMBER: ${{ github.event.number }}
          VCS__HTTP_CLIENT__API_URL: "https://api.github.com"
          VCS__HTTP_CLIENT__API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          REVIEW__MAX_INLINE_COMMENTS: "10" # Max inline comments per file
          REVIEW__MAX_CONTEXT_COMMENTS: "10" # Max context comments per PR

          PROMPT__INLINE_PROMPT_FILES: '["./.prompts/inline.md"]'
          PROMPT__CONTEXT_PROMPT_FILES: '["./.prompts/inline.md"]'
